body {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 1000px;
  margin: auto;
  background-color: antiquewhite;
}

table {
  border: 3px solid rgb(233, 136, 10);
  margin-top: 20px;
  width: 100%;
}
table td, table th {
  border: 1px solid rgb(112, 67, 9);
  text-align: center;
  padding: 3px;
  color: black;
}

img {
  box-shadow: rgba(240, 46, 170, 0.4) 5px 5px, rgba(240, 46, 170, 0.3) 10px 10px, rgba(240, 46, 170, 0.2) 15px 15px, rgba(240, 46, 170, 0.1) 20px 20px, rgba(240, 46, 170, 0.05) 25px 25px;
  margin: 100px;
}/*# sourceMappingURL=style.css.map */